.background {
  background-color: black;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  transition: all 0.3s ease;
}

.glow-red {
  box-shadow: 0 0 15px 5px red;
  animation: glow 0.8s linear infinite alternate;
}

.glow-yellow {
  box-shadow: 0 0 15px 5px yellow;
  animation: glow 0.8s linear infinite alternate;
}

.glow-green {
  box-shadow: 0 0 15px 5px green;
  animation: glow 0.8s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0 0 30px 15px yellowgreen;
  }
}
